# Ignore Python virtual environments
/venv

# Ignore .esphome directory in any subfolder
**/.esphome/

# Ignore .esphome directory in any subfolder
/**/__pycache__/

# Ignore secrets.yaml file in any subfolder
**/secrets.yaml

.DS_Store

.gitignore

web-gui/dist/index.html